* {
    padding: 0;
    margin: 0;
    margin-top: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0e62bcd6;
    width: auto;
    height: auto;
    padding-top: 10px;
    padding-left: 30%;
    padding-right: 30%;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 15px;
    width: 100%;
    color: white;
    height: auto;

}

fieldset {
    border: 3px solid dodgerblue;
    border-radius: 15px;
    padding: 15px;
    width: 100%;

}

legend {
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

legend a {
    text-decoration: none;
}

legend a:visited {
    color: white;
}

legend:hover {
    background: #0055ffc1;
    border: 1px solid #0055ffc1;
}

.inputbox {
    position: relative;
}

.inputuser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 1.5px;
}

.labelinput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputuser:focus~.labelinput,
.inputuser:valid~.labelinput {
    top: -20px;
    font-size: 12px;
    color: rgb(239, 239, 239);
    font-style: oblique;
}

.grade {
    justify-content: baseline;
    column-gap: 80px;
    row-gap: 5px;
}

.option {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.option2 {
    display: grid;
    grid-template-columns: 80% 10%;
    grid-template-rows: auto;
    column-gap: 10%;
    width: 100%;
}

.senioridade {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.senior {
    margin-top: auto;
    margin-bottom: auto;
}

select {
    width: 70%;
    height: auto;
    font-family: sans-serif;
    font-size: 1em;
    color: #000000;
    border-radius: 8px;
    font-weight: bold;
    padding-left: 10px;
    justify-content: center;
}

.botao {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    justify-content: center;
    padding-top: 15px;
    gap: 80px;
}

#concluido {
    border-radius: 4px;
    font-size: 1.2em;
    background: #162be8;
    border: 0;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#concluido:hover {
    background-color: #2793ffe1;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;

}

#limpar {
    border-radius: 4px;
    font-size: 1.2em;
    background: #800909;
    border: 0;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#limpar:hover {
    background-color: #ff5050;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: none;
}

textarea {
    color: #000000;
    border-radius: 8px;
    width: 100%;
    margin-top: 12px;
    padding-left: 1.5%;
    font-weight: bold;
    letter-spacing: 0.9px;
}

textarea:focus {
    background-color: #dadafd;
}

@media screen and (max-width: 1000px) {

    body {
        padding-left: 25%;
        padding-right: 25%;
    }

    .box {
        width: 100%;
    }


}

@media screen and (max-width: 800px) {
    body {
        padding-left: 22%;
        padding-right: 22%;
    }

    .box {
        width: 100%;
    }
}

@media screen and (max-width: 760px) {

    body {
        padding-left: 12%;
        padding-right: 12%;
    }

    .box {
        width: 100%;
    }

    legend {
        font-size: 16px;
    }
}

@media screen and (max-width: 550px) {

    body {
        padding-left: 8%;
        padding-right: 8%;
    }

    .box {
        width: 100%;
    }

    legend {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {

    body {
        padding-left: 8%;
        padding-right: 8%;
    }

    .box {
        width: 100%;
        font-size: 13px;
    }

    legend {
        font-size: 16px;
    }
}

@media screen and (max-width: 430px) {

    body {
        padding-left: 3%;
        padding-right: 3%;
    }

    .box {
        width: 100%;
        font-size: 13px;
    }

    legend {
        font-size: 16px;
    }
}

@media screen and (max-width: 360px) {

    body {
        padding-left: 1.5%;
        padding-right: 1.5%;
    }

    fieldset {
        border: 3px solid dodgerblue;
        border-radius: 15px;
        padding: 8px;
        width: 100%;
        margin: none;
    }

    select {
        width: auto;
        height: auto;
        padding-left: 10px;
        justify-content: center;
    }


    .box {
        width: 100%;
        font-size: 13px;
    }

    legend {
        font-size: 16px;
        padding: 3px;
    }

    .botao {
        gap: 20px;
    }
}

@media screen and (max-width: 280px) {

    body {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    .box {
        width: 100%;
        font-size: 13px;
    }

    legend {
        font-size: 16px;
    }

    .senioridade {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
    }

    select {
        width: auto;
        height: auto;
        padding-left: 10px;
        justify-content: center;
    }

    .botao {
        gap: 10px;
    }
}

@media screen and (max-width: 50px) {

    body {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    .botao {
        gap: 5px;
    }
}